.linkButton {
    width: 64px;
    z-index: 10;
    height: 64px;
    display: flex;
    border-radius: 20px;
    align-items: center;
    background: #15C3D6;
    justify-content: center;
    transition: background-color 0.2s;
}